---
layout: archive
title: "Teaching Assistantship"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

### Teaching Assistantship Experience

**The University of Ottawa**
- **CSI5389 Electronic Commerce Technologies**
  - Winter 2023
  - Professor: Thomas Tran
- **ITI1121 Introduction To Computing II**
  - Fall 2022
  - Professor: Abdorrahim Bahrami
- **ITI1121 Introduction To Computing II**
  - Winter 2022
  - Professor: Wail Mardini
- **ITI1120 Introduction To Computing I**
  - Fall 2021
  - Professor: Mohammad Aljaafreh

**The University of British Columbia**
- **CPSC 340 Machine Learning and Data Mining**
  - Summer 2021
  - Professor: Nam Hee Gordon Kim
- **CPSC 540/440 Advanced Machine Learning**
  - Winter 2021
  - Professor: Mark Schmidt
- **CPSC 340 Machine Learning and Data Mining** (<span style="color: red;">Head TA</span>)
  - Fall 2020
  - Professor: Frank Wood
- **CPSC 340 Machine Learning and Data Mining**
  - Summer 2020
  - Professor: Ali Reza Shafaei
- **CPSC 340 Machine Learning and Data Mining**
  - Fall 2019
  - Professor: Mark Schmidt
